*~
*.bak
*.BAK
*.o
depend
html
doc
# All that is generated
libtrains.so
testAddress
testApplicationMessage_wagon
testBqueue
testComm
testList
testManagement_addr
basicTest
client
server
perf
tests/integration/insertion/insertion
tests/integration/latency/latency
tests/integration/wagonFiller/wagonFiller