*~
*.bak
*.BAK
*.o
depend
html
doc
# All that is generated
include/trains_Interface.h
src/libtrains.so
tests/unit/testAddress
tests/unit/testApplicationMessage_wagon
tests/unit/testBqueue
tests/unit/testComm
tests/unit/testList
tests/unit/testManagement_addr
tests/integration/basic/basicTest
tests/integration/clientServeur/client
tests/integration/clientServeur/server
tests/integration/perf/perf
tests/integration/insertion/insertion
tests/integration/latency/latency
tests/integration/wagonFiller/wagonFiller
